{% extends "Subnautica/index.html" %}
{% load static %}

{% block css_styling %}
    <link rel="stylesheet" href="{%  static "css/main.css" %}" />
    <link rel="stylesheet" href="{%  static "css/add_item.css" %}" />
{% endblock %}

{%  block main_wrapper %}
    <div class="add_item_wrapper">
        <main class="add_item_layout">
            <div class="add_item_info_section">
                <h1>Add Item</h1>
                <form id="add_item_form" action="{% url "Subnautica:add_item_view" %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="add_item_url" value="{% url "Subnautica:add_item_view" %}">
                    <div class="input_info">
                        <label for="select_model">Select Model: </label>
                        <select id="select_model" name="select_model">
                            <option value="biomes">Biomes</option>
                            <option value="eggs">Eggs</option>
                            <option value="faunas">Faunas</option>
                            <option value="floras">Floras</option>
                            <option value="resources">Resources</option>
                            <option value="tools">Tools</option>
                            <option value="vehicles">Vehicles</option>
                        </select>
                    </div>
                    <div class="input_info" id="extra_fields"></div>

                    <div class="submit_button">
                        <button type="submit" class="add_item_button">Submit</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
{% endblock %}

{% block js %}
    <script src="{%  static "js/add_item.js" %}"></script>

    <script>
        const getDropDownData = "{% url 'Subnautica:get_dropdown_data_view' %}"
    </script>
{% endblock %}