{% extends "Subnautica/index.html" %}
{% load static %}
{% load link_filter %}
{% block css_styling %}
    <link rel="stylesheet" href="{%  static "css/main.css" %}" />
    <link rel="stylesheet" href="{%  static "css/list.css" %}" />
{% endblock %}

{%  block main_wrapper %}
    {% if messages %}
        <div class="message_wrapper">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="info_main_wrapper">
            <section class="ex_info_section">
                <h2 class="ex_title">Eggs</h2>
                <p class="ex_info">
                    Eggs within Subnautica are the unhatched variants of their respective Fauna counterparts.
                    Almost all eggs can be used to hatch their respective creatures. Eggs can only be found in the respective creatures biomes.
                    <br/><br/>
                    A common egg the player will encounter is the Ampeel Egg, which can be found in <a href="{% url "Subnautica:biome_view" biome_name="blood_kelp_zone" %}">Blood Kelp Zone</a> and
                    <a href="{% url "Subnautica:biome_view" biome_name="bulb_zone" %}">Bulb Zone</a>.
                    Once found, this egg can be placed in an Alien Containment structure and will hatch after several in-game days.
                </p>
            </section>
            <section class="ex_pic_section">
                <h3 class="ex_pic_title">Ampeel Egg</h3>
                <img src="{% static "img/Eggs/ampeel_egg.webp" %}" alt="example egg" class="ex_pic" />
                <a href="{% url "Subnautica:fauna_view" fauna_name="Ampeel" %}" class="ex_link">Ampeel Egg</a>
            </section>
    </div>
    <div class="list_main_wrapper">
        <section class="list_title_wrapper">
            <h4 class="list_title">Eggs</h4>
        </section>

        <section class="item_list">
            <!-------------------------------------------->
            <div class="list_header">
                <p class="sort_wrapper">Egg
                    <a href="{% url 'subnautica:eggs_view' %}?sort_by=alphabet&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}" class="alphabet_sort">
                        <img src="{% static 'img/alphabetical_sort.jpg' %}" alt="Sort Alphabetically" class="sort_icon"/>
                    </a>
                </p>
                <p>Description</p>
                <p>Attitude</p>
                <p class="sort_wrapper">Location
                    <a href="{% url 'subnautica:eggs_view' %}?sort_by=count&order={% if request.GET.order == 'desc' %}asc{% else %}desc{% endif %}" class="count_sort">
                        <img src="{% static 'img/count_sort.jpg' %}" alt="Sort by Locations" class="sort_icon"/>
                    </a>
                </p>
            </div>

            <!-------------------------------------------->
            {% for egg in eggs_list %}
            <div class="item">
                <div class="egg_pic">
                    <img src="{% static 'img/Eggs/'|add:egg.get_img_name %}" alt="{{ egg.name }} image" class="item_img" />
                    <a class="item_name" href="{% url 'subnautica:fauna_view' fauna_name=egg.fauna.name %}">{{ egg.fauna.name }}</a>
                </div>
                <p class="item_desc">
                    {{ egg.description|convert_to_links|safe }}
                </p>
                <ul class="depth_range">
                    <li><a>{{ egg.attitude }}</a></li>
                </ul>
                <ul class="biome_resources">
                    {% for biome in egg.biomes.all %}
                    <li><a href="{{ biome.url }}">{{ biome.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}