{% extends "Subnautica/index.html" %}
{% load static %}
{% load link_filter %}
{% block css_styling %}
    <link rel="stylesheet" href="{%  static "css/main.css" %}" />
    <link rel="stylesheet" href="{%  static "css/list.css" %}" />
{% endblock %}

{%  block main_wrapper %}

    <div class="info_main_wrapper">
            <section class="ex_info_section">
                <h2 class="ex_title">Faunas</h2>
                <p class="ex_info">
                    On Planet 4546B, fauna can be found everywhere within the Crater's Edge.
                    Fauna can come in all shape, size, and forms. From a tiny rock dwelling <a href="{% url "Subnautica:fauna_view" fauna_name="rock_grub" %}">Rockgrub</a> to the massive
                    <a href="{% url "Subnautica:fauna_view" fauna_name="sea_dragon_lev" %}">Sea Dragon Leviathan</a>.
                    Fauna is often extremely adapted to their environments, which results in incredibly diverse and unique species.
                    Fauna can range from passive herbivores to extremely aggressive apex predators. Caution is always advised when approaching a species on this planet.
                </p>
            </section>
            <section class="ex_pic_section">
                <h3 class="ex_pic_title">Reaper Leviathan</h3>
                <img src="{% static "img/Fauna/reaper_lev.webp" %}" alt="example fauna" class="ex_pic" />
                <a href="{% url "Subnautica:fauna_view" fauna_name="reaper_lev" %}" class="ex_link">Reaper Leviathan</a>
            </section>
    </div>
    <div class="list_main_wrapper">
        <section class="list_title_wrapper">
            <h4 class="list_title">Faunas</h4>
        </section>

        <section class="item_list">
            <!-------------------------------------------->
            <div class="list_header">
                <p>Fauna</p>
                <p>Attitude</p>
                <p>Biome</p>
            </div>

            <!-------------------------------------------->
            {% for fauna in faunas_list %}
            <div class="item">
                <div class="egg_pic">
                    <img src="{% static 'img/Fauna/'|add:fauna.get_img_name %}" alt="{{ fauna.name }} image" class="item_img" />
                    <a class="item_name" href="{% url 'subnautica:fauna_view' fauna_name=fauna.get_fauna_url %}">{{ fauna.name }}</a>
                </div>
                <p class="item_desc">
                    {{ fauna.attitude }}
                </p>
                <ul class="biome_resources">
                    {% for biome in fauna.biomes.all %}
                    <li><a href="{{ biome.url }}">{{ biome.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}