{% extends "subnautica/index.html" %}
{% load static %}

{% block css_styling %}
    <link rel="stylesheet" href="{%  static "css/main.css" %}" />
    <link rel="stylesheet" href="{%  static "css/list.css" %}" />
    <link rel="stylesheet" href="{%  static "css/item.css" %}" />
{% endblock %}

{% block main_wrapper %}
    {% if messages %}
        <div class="message_wrapper">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="info_main_wrapper">
        <section class="ex_info_section">
            <h2 class="ex_title">{{ flora.name }}
                {% if request.session.role == 'admin' %}
                    <a href="{% url "Subnautica:edit_item_view" %}">
                        <img src="{% static "img/edit_icon.jpg" %}" alt="Edit Item" class="edit_icon"/>
                    </a>
                    <a href="{% url "Subnautica:del_item_view" %}">
                        <img src="{% static "img/del_icon.jpg" %}" alt="Delete Item" class="del_icon"/>
                    </a>
                {% endif %}
            </h2>
            <p class="ex_info">
                {{ flora.description|safe }}
            </p>
        </section>

        <section class="ex_pic_section">
            <h3 class="ex_pic_title">{{ flora.flora}}</h3>
            <img src="{% static flora.get_img_path %}" alt="example flora" class="ex_pic" />

            <section class="item_info_wrapper">
                <ul class="item_category">
                    <li>Category</li>
                    <li><a href="{% url "subnautica:floras_view" %}" class="item_category_text">Flora</a></li>
                </ul>
                <ul class="item_type">
                    <li>Attitude</li>
                    <li><a class="item_type_text">{{  flora.attitude }}</a></li>
                </ul>
                <ul class="item_depth_range">
                    <li>Obtain From</li>
                    <li><a class="item_depth_range_text">{{ flora.obtain_from}}</a></li>
                </ul>
                <ul class="item_resources">
                    <li>Biome</li>
                    {% for biome in flora.biome.all %}
                    <li><a href="{% url "Subnautica:biome_view" biome_name=biome.name %}" class="item_resources_text">{{ biome.name }}</a></li>
                {% endfor %}
                </ul>

            </section>
        </section>
    </div>

        {% if request.user.is_authenticated %}
    <div class="comment_main_wrapper">
        <h4 class="comment_title">Leave a Comment</h4>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit_button">Post Comment</button>
            </form>
    </div>
    {% else %}
        <div class="comment_main_wrapper">
            <h2>You need to be logged in to leave a comment. <a href="{% url 'Subnautica:login_view' %}">Login here</a>.</h2>
        </div>
    {% endif %}

    {% if comments %}
    <div class="comment_main_wrapper">
        <h2>Comments</h2>
        <section class="comment_title_wrapper">
        </section>

        <section class="comment_list">
            {% for comment in comments %}
                <div class="comment_wrapper" id="comment_{{ comment.id }}">
                    <div class="comment">
                        <div class="comment_user_info">
                            <img src="{% static "img/profile_pic.jpg" %}" alt="profile picture" class="profile_pic" />
                            <span class="username">{{ comment.user.username }}</span>
                        </div>

                        <div class="comment_content">
                            <p class="comment_text">{{ comment.content }}</p>
                            <span class="comment_date">Posted on: {{ comment.created_at|date:"M d, Y"}}</span>
                        </div>

                        {% if comment.user == request.user or request.user.is_staff %}
                            <div class="edit_icon_wrapper">
                                <img src="{% static "img/edit_icon.jpg" %}" alt="Edit Icon" class="edit_icon" data-comment-id="{{ comment.id }}"/>
                            </div>
                            <div class="del_icon_wrapper">
                                <form method="POST" action="{% url 'Subnautica:delete_comment_view' comment.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="del_icon_button">
                                        <img src="{% static "img/del_icon.jpg" %}" alt="Delete Icon" class="del_icon"/>
                                    </button>
                                </form>
                            </div>
                        {% endif %}

                        <div class="reply_icon_wrapper">
                            <img src="{% static "img/reply_icon.jpg" %}" alt="reply icon" class="reply_icon" onclick="displayReplyForm({{ comment.id }})"/>
                        </div>
                    </div>

                    <div class="edit_comment_form_wrapper" id="edit_form_{{ comment.id }}">
                        <form method="POST" data-comment-id="{{ comment.id }}">
                            {% csrf_token %}
                            <textarea name="content" placeholder="Edit your comment..." required>{{ comment.content }}</textarea>
                            <input type="hidden" name="content_id" value="{{ comment.id }}">
                            <button type="submit" class="submit_button">Update Comment</button>
                        </form>
                    </div>

                    <div class="reply_form_wrapper" id="reply_form_{{ comment.id }}">
                        <form method="POST" onsubmit="addReply(event, {{ comment.id }}, this)">
                            {% csrf_token %}
                            <textarea name="content" placeholder="Write reply..." required></textarea>
                            <button type="submit" class="submit_button">Add Reply</button>
                        </form>
                    </div>

                    <!--Replies-->
                    {% if comment.replies.all %}
                        <div class="reply_wrapper" id="comment_{{ comment.id }}_reply_wrapper">
                            {% for reply in comment.replies.all %}
                                <div class="reply">
                                    <div class="user_info">
                                        <img src="{% static "img/reply_icon.jpg" %}" alt="profile picture" class="profile_pic" />
                                        <span class="username">{{ reply.user.username }}</span>
                                    </div>

                                    <div class="comment_content">
                                        <p class="comment_text">{{ reply.content }}</p>
                                        <span class="comment_date">Posted on: {{ reply.created_at|date:"M d, Y"}}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </section>
    </div>
    {% else %}
        <p>No comments yet</p>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{%  static "js/comments.js" %}"></script>
    <script src="{%  static "js/edit_comment.js" %}"></script>
{% endblock %}