{% extends "Subnautica/index.html" %}
{% load static %}
{% load link_filter %}
{% block css_styling %}
    <link rel="stylesheet" href="{%  static "css/main.css" %}" />
    <link rel="stylesheet" href="{%  static "css/list.css" %}" />
{% endblock %}

{%  block main_wrapper %}
    {% if messages %}
        <div class="message_wrapper">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="info_main_wrapper">
            <section class="ex_info_section">
                <h2 class="ex_title">Resources</h2>
                <p class="ex_info">
                    Resources are items used in the crafting process to create tools and items. They form the backbone of the survival experience and are essential for progression and survival.
                </p>
            </section>
            <section class="ex_pic_section">
                <h3 class="ex_pic_title">Titanium</h3>
                <img src="{% static "img/Resources/titanium.webp" %}" alt="example resource" class="ex_pic" />
                <a href="{% url "Subnautica:resource_view" resource_name="Titanium" %}" class="ex_link">Titanium</a>
            </section>
    </div>
    <div class="list_main_wrapper">
        <section class="list_title_wrapper">
            <h4 class="list_title">Resources</h4>
        </section>

        <section class="item_list">
            <!-------------------------------------------->
            <div class="list_header">
                <p class="sort_wrapper">Resource
                    <a href="{% url 'subnautica:resources_view' %}?sort_by=alphabet&order={% if request.GET.order == 'asc' %}desc{% else %}asc{% endif %}" class="alphabet_sort">
                        <img src="{% static 'img/alphabetical_sort.jpg' %}" alt="Sort Alphabetically" class="sort_icon"/>
                    </a>
                </p>
                <p>Obtain From</p>
                <p class="sort_wrapper">Location
                    <a href="{% url 'subnautica:resources_view' %}?sort_by=count&order={% if request.GET.order == 'desc' %}asc{% else %}desc{% endif %}" class="count_sort">
                        <img src="{% static 'img/count_sort.jpg' %}" alt="Sort by Locations" class="sort_icon"/>
                    </a>
                </p>
            </div>

            <!-------------------------------------------->
            {% for resource in resources_list %}
            <div class="item">
                <div class="egg_pic">
                    <img src="{% static 'img/Resources/'|add:resource.get_img_name %}" alt="{{ resource.name }} image" class="item_img" />
                    <a class="item_name" href="{% url 'subnautica:resource_view' resource_name=resource.name %}">{{ resource.name }}</a>
                </div>
                <p class="item_desc">
                    {{ resource.obtain_from|convert_to_links|safe }}
                </p>
                <ul class="biome_resources">
                    {% for biome in resource.biomes.all %}
                        <li><a href="{% url 'Subnautica:biome_view' biome_name=biome.get_biome_url %}">{{ biome.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}