{% extends "Subnautica/index.html" %}
{% load static %}
{% block css_styling %}
    <link rel="stylesheet" href="{%  static "css/main.css" %}" />
    <link rel="stylesheet" href="{%  static "css/list.css" %}" />
{% endblock %}

{%  block main_wrapper %}
    <div class="info_main_wrapper">
            <section class="ex_info_section">
                <h2 class="ex_title">Vehicles</h2>
                <p class="ex_info">
                    As the player progresses, the creation of various vehicles are necessary for traversal and defense.
                    These vehicles can range from simple single-person traversal vehicles to massive submarines that can house an entire base.
                </p>
            </section>
            <section class="ex_pic_section">
                <h3 class="ex_pic_title">Seamoth</h3>
                <img src="{% static "img/Vehicles/seamoth.webp" %}" alt="example vehicle" class="ex_pic" />
                <a href="{% url "Subnautica:vehicle_view" vehicle_name="seamoth" %}" class="ex_link">Seamoth</a>
            </section>
    </div>
    <div class="list_main_wrapper">
        <section class="list_title_wrapper">
            <h4 class="list_title">Vehicles</h4>
        </section>

        <section class="item_list">
            <!-------------------------------------------->
            <div class="list_header">
                <p>Vehicle</p>
                <p>Description</p>
                <p>Velocity</p>
            </div>

            <!-------------------------------------------->
            {% for vehicle in vehicles_list %}
            <div class="item">
                <div class="item_pic">
                    <img src="{% static 'img/Vehicles/'|add:vehicle.get_img_name %}" alt="{{ vehicle.name }} image" class="item_img" />
                    <a class="item_name" href="{% url 'subnautica:vehicle_view' vehicle_name=vehicle.get_vehicle_url %}">{{ vehicle.name }}</a>
                </div>
                <p class="item_desc">
                    {{ vehicle.short_description|safe }}
                </p>
                <ul class="depth_range">
                    <li><a>{{ vehicle.velocity|safe }}</a></li>
                </ul>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}